@use '@angular/material' as mat;
@import "form";
@import "tailwindcss";


$red-650: #c1121f;

* {
    $scrollbarSize: 6px;

    &::-webkit-scrollbar {
        width: $scrollbarSize;
        height: $scrollbarSize;
    }

    &::-webkit-scrollbar-track {
        background-color: oklch(0.145 0 0); // neutral-950
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background-color: $red-650;
    }
}

@theme {
    --color-red-650: #c1121f;
    --font-main: "National Park", sans-serif;
}

@include mat.progress-spinner-overrides((
    active-indicator-color: $red-650
));